@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'flowbite'; */

@media (max-width: 767px) {
    .helllo {
      width: 100vw; 
    }
  }
  body {
    height: 100vh;
  }
  
  .ql-editor {
    font-size: 1.05rem;
  }